._gdal {

  h2 {
    margin-left: -1rem;
    @extend %block-heading;
  }

  .member {
    margin-left: -1rem;
    @extend %note, %note-blue;
  }

  .fragment {
    font-family: $monoFont;
  }

  div.epydoc { @extend %note, %note-blue; }

  table.details {
    border-style: none;
  }
}
